/* ---------- Global Part ------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg: #1E1E1E;
    --white: #fff;
    --line-color: #444444;
    --text-black: #4C4C4C;
    --text-black-light: #777777;
    --button-bg: #F9F9F9;
    --bg-secondary: #2D2D2D;
    --ex-color-one: #D1F2EB;
    --ex-color-two: #EBDEF0;
    --ex-color-three: #D6EAF8;
    --ex-color-four: #FAE5D3;
    --ex-color-five: #FCF3CF;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    width: min(1250px, 95%);
    margin: auto;
}




/* ---------- Hero Section ------------ */

.hero {
    background: var(--bg);
    height: 100vh;
    width: 100%;
}

.hero .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.hero nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(1512px, 95%);
    margin: auto;
    padding-top: 40px;
    padding-bottom: 25px;
    position: relative;
}

.hero .nav-underline {
    height: 1px;
    width: min(1620px, 98%);
    background: var(--line-color);
}

nav .logo a img {
    max-width: 100px;
    min-width: 80px;
}

nav .menus ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

nav .menus ul li a {
    text-transform: uppercase;
    font-size: .85rem;
    color: var(--white);
    padding-bottom: 7px;
}

nav .menus ul li a.active::after {
    content: '';
    position: relative;
    display: flex;
    width: 50%;
    height: 2px;
    background-color: var(--button-bg);
    margin-top: 2px;
    left: 100%;
    transform: translateX(-150%);
}

nav .action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .action .contact-action a {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-black);
    padding: 9px 20px;
    background-color: var(--button-bg);
}

nav .action .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

nav .action .hamburger .one {
    height: 2px;
    width: 30px;
    background: var(--white);
}

nav .action .hamburger .two {
    height: 2px;
    width: 22px;
    background: var(--white);
    transition: .6s;
}

nav .action .hamburger .three {
    height: 2px;
    width: 15px;
    background: var(--white);
    transition: .6s;
}

nav .action .hamburger:hover .two,
nav .action .hamburger:hover .three {
    transition: .6s;
    position: relative;
    transform: translateX(100%);
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-content .left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.hero-content .left-content .title h1 {
    color: var(--white);
    font-size: 4rem;
    font-weight: 800;
    line-height: 78px;
    /* margin-bottom: 40px; */
}

.hero-content .left-content .description p {
    color: var(--text-black-light);
    font-size: 1.7rem;
    line-height: 32px;
}

.hero-content .left-content .social {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-content .left-content .social p {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 400;
}

.hero-content .left-content .social .social-icons ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-content .left-content .social .social-icons ul li {
    background: var(--bg-secondary);
    border-radius: 50%;
    transition: .5s;
}

.hero-content .left-content .social .social-icons ul li a {
    color: var(--white);
    font-size: 1.1rem;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    opacity: .7;
}

.hero-content .left-content .social .social-icons ul li a:hover {
    opacity: 1;
    transition: .5s;
}

.hero-content .left-content .social .social-icons ul li:hover {
    border-radius: 0;
}

.hero-content .right-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.hero-content .right-content .number {
    opacity: .7;
    cursor: pointer;
    transition: .5s;
}

.hero-content .right-content .number:hover {
    opacity: 1;
}

.hero-content .right-content .number h3 {
    font-size: 3rem;
    color: var(--white);
}

.hero-content .right-content .number p {
    font-size: 1rem;
    color: var(--white);
    font-weight: 400;
}




/* ---------- About ME Section ------------ */

.about-me {
    background: var(--bg);
}

.about-me .about-me-main{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.about-me-main .about-left .bg-box {
    height: 210px;
    width: 210px;
    border: 10px solid var(--button-bg);
    position: relative;
    left: 115px;
    top: 150px;
    opacity: .25;
}

.about-me-main .about-left .main-box {
    display: flex;
    gap: 12px;
}

.about-me-main .about-left .main-box .left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
    position: relative;
    bottom: 150px;
}

.about-me-main .about-left .main-box .right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    bottom: 170px;
}

.about-me-main .about-left .main-box .box-one {
    height: 166px;
    width: 211px;
    background-color: var(--ex-color-one);
}

.about-me-main .about-left .main-box .box-two {
    height: 235px;
    width: 173px;
    background-color: var(--ex-color-four);
}

.about-me-main .about-left .main-box .box-three {
    height: 228px;
    width: 173px;
    background-color: var(--ex-color-two);
}

.about-me-main .about-left .main-box .box-four {
    height: 209px;
    width: 261px;
    background-color: var(--ex-color-three);
}

.about-me-main .about-left .main-box .box-one,
.about-me-main .about-left .main-box .box-two,
.about-me-main .about-left .main-box .box-three,
.about-me-main .about-left .main-box .box-four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me-main .about-left .main-box .box-one i,
.about-me-main .about-left .main-box .box-two i,
.about-me-main .about-left .main-box .box-three i,
.about-me-main .about-left .main-box .box-four i{
    font-size: 2rem;
    color: var(--white);
    padding-bottom: 3px;
}

.about-me-main .about-left .main-box .box-one p,
.about-me-main .about-left .main-box .box-two p,
.about-me-main .about-left .main-box .box-three p,
.about-me-main .about-left .main-box .box-four p{
    font-size: 1.3rem;
    line-height: 20px;
    font-weight: 500;
    color: var(--text-black);
    padding-top: 3px;
    opacity: .9;
}

.about-me-main .about-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    gap: 50px;
    
}

.about-me-main .about-right .title h2{
    font-size: 3rem;
    line-height: 55px;
    color: var(--white);
}

.about-me-main .about-right .description p{
    font-size: 1.2rem;
    color:var(--text-black-light);
    max-width: 600px;
}

.about-me-main .about-right .actions{
    display: flex;
    gap: 30px;
    align-items: center;
}

.about-me-main .about-right .actions .download a{
    color: var(--white);
    font-size: 1.2rem;
}

.about-me-main .about-right .actions .download a::after{
    content: '';
    position:relative;
    display: flex;
    height: 1px;
    width: 100%;
    background-color: var(--white);
    margin-top: 6px;
}






/* ---------- My Works Section ------------ */
.my-works {
    background: var(--bg);
    padding-bottom: 100px;
}








/* ---------- I know Section ------------ */
.i-know {
    background: var(--bg);
    padding-bottom: 100px;
}

.i-know .topic-name p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    line-height: 90px;
}

.i-know .topic-name span{
    padding: 15px 45px;
    border: 2px solid var(--white);
    margin: 0 12px;
    cursor: pointer;
    opacity: .8;
    transition: .5s;
}


.i-know .topic-name span:hover{
    opacity: 1;
}






/* ---------- Strategy Section ------------ */
.strategy {
    background: var(--bg);
    padding-bottom: 100px;
}

.strategy-flow h2{
    font-size: 3rem;
    color: var(--white);
    font-weight: 500;
    margin-bottom: 30px;
}

.strategy-flow .process{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.strategy-flow .process .one,
.strategy-flow .process .two,
.strategy-flow .process .three,
.strategy-flow .process .four{
    max-width: 295px;
    padding: 20px;
}

.strategy-flow .process .one{
    border: 1px solid var(--ex-color-one);
}
.strategy-flow .process .two{
    border: 1px solid var(--ex-color-two);
}
.strategy-flow .process .three{
    border: 1px solid var(--ex-color-three);
}
.strategy-flow .process .four{
    border: 1px solid var(--ex-color-four);
}

.strategy-flow .process .one .number,
.strategy-flow .process .two .number,
.strategy-flow .process .three .number,
.strategy-flow .process .four .number{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-black);
    height: 40px;width: 40px;
    border-radius: 50%;
    background-color: var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.strategy-flow h6{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 10px;
}

.strategy-flow .des{
    font-size: .85rem;
    color: var(--text-black-light);
    line-height: 17px;

}







/* ---------- Service Section ------------ */
.service {
    background: var(--bg);
    padding-bottom: 100px;
}









/* ---------- Section Heading CSS ------------ */

.heading {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.heading .heading-line {
    height: 2px;
    width: 65px;
    background-color: var(--white);
}

.heading p {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 500;
}



/* ---------- Button CSS ------------ */

.action-button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 25px;
    background: var(--button-bg);
    color: var(--text-black);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    width: fit-content;
}

.action-button p {
    transition: .3s;
}

.action-button:hover p {
    transform: translateX(4px);
}

.action-button .button-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.action-button:hover .button-arrow {
    transform: translateX(8px);
}

.action-button .arrow-line {
    height: 2px;
    width: 40px;
    background-color: var(--line-color);
    transition: .3s;
}

.action-button:hover .arrow-line {
    width: 60px;
}

.action-button .arrow-angle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid var(--line-color);
    border-bottom: 5px solid transparent;
}